@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar{
  padding-top: 0;
  padding-left: 190px;
}
.container-fluid{
  padding-left: 10px;
  padding-block: inherit;
  box-shadow: 0px 0px 10px 0px #7D7D90;
}
.navbar-brand{
  font-size: 12px;
  font-weight: 300;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }
li, a{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: inline;
}
#signin{
  border: 2px solid rgb(247, 249, 250);
  font-family: "Montserrat", sans-serif;
  color: aqua;
  display: inline;
  padding-top:inherit;
  font-size: 12px;
  border-radius: 20px;
  padding: 0.3rem 1rem!important;


}
#signup{
  background-color: deepskyblue;
  font-family: "Montserrat", sans-serif;
  border: 2px solid rgb(246, 248, 248);
  border-radius: 20px;
  font-size: 12px;
  padding: 0.5rem 1rem!important;
  line-height: 4px;
}
.notification {
    color: black;
    text-decoration: none;
    padding: 2px;
    position: relative;
    display: inline;
    border-radius: 2px;
  }
  .notification .badge {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 2px 5px;
    border-radius: 10%;
    box-shadow: 100px;
    background: red;
    color: white;
  }
  .side-bar {
    position:-webkit-sticky;
    top: -200px;
    width: 187px;
    height: 100vh;
    z-index: 2;
    float: left;
    background:url('./image.jpg');  
    /* background-position: top; */
    opacity: 0.6;
    background-size: cover;
  }

  .vertical-bar {
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 150px;
    color: black;
  }

  .dash-container {
    position:inherit;
    font-family: "Montserrat", sans-serif;
    height: 85vh;
    width: 85vw;
    top: -5px;
    left: 300px;
    
}
.dash-container h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  left:8%;
}
.form-group{
  box-sizing: border-box;
}
.card{
  left:8%;
  float: left;
  margin: 5px;
  box-shadow: 1px 0px 1px 0px #7D7D90
}
h5,p{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200px;
}
